@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}


.main {
  border-right: 1px solid rgba(149, 146, 146, 0.178);
  position: relative;
}

.side {
  height: 100vh;
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}


button {
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  border: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 1rem 4rem;
  gap: 1.5rem;
  transition: all ease 0.2s;
  background: transparent;
}

button:hover,
button.active {
  background-color: rgba(220, 213, 213, 0.439);
}


.hamburger {
  display: none;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.hamburger:hover{
  background-color: white;
}


@media (max-width: 1024px) {
  .side {
    padding-top: 10rem;
  }

  button {
    font-size: 16px;
    padding: 0.8rem 2.5rem;
  }
}

@media (max-width: 768px) {
  .main {
    border-right: none;
  }

  .hamburger {
    display: block;
  }

  .side {
    position: fixed;
    top: 0;
    left: -250px;
    width: 230px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 8rem;
    z-index: 99;
  }

  .side.open {
    left: 0;
  }

  button {
    font-size: 16px;
    padding: 0.8rem 2rem;
  }
}

